#### Bibliotecas

In [1]:
import os
os.chdir('..')
import pandas as pd
import numpy as np
import scipy.stats as stats

#### Caminhos dos arquivos

**10 Dimens천es**

In [2]:
### PSOR ###
psor_f1_10d_path = "./results/exp_psor_10d_2sp_0909_1225/psor/f1/opt_history.csv"
psor_f2_10d_path = "./results/exp_psor_10d_2sp_0909_1225/psor/f2/opt_history.csv"
psor_f4_10d_path = "./results/exp_psor_10d_2sp_0909_1225/psor/f4/opt_history.csv"
psor_f6_10d_path = "./results/exp_psor_10d_2sp_0909_1225/psor/f6/opt_history.csv"
psor_f7_10d_path = "./results/exp_psor_10d_2sp_0909_1306/psor/f7/opt_history.csv"
psor_f9_10d_path = "./results/exp_psor_10d_2sp_0909_1306/psor/f9/opt_history.csv"
psor_f14_10d_path = "./results/exp_psor_10d_2sp_0909_1306/psor/f14/opt_history.csv"

### PSO ###
ps_f1_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f1/opt_history.csv"
ps_f2_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f2/opt_history.csv"
ps_f4_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f4/opt_history.csv"
ps_f6_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f6/opt_history.csv"
ps_f7_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f7/opt_history.csv"
ps_f9_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f9/opt_history.csv"
ps_f14_10d_path = "./results/exp_10d_pso_normal_1009_1635/pso/f14/opt_history.csv"

### GA ###
ga_f1_10d_path = "./results/exp_10d_f1_1009_1800/ga/f1/opt_history.csv"
ga_f2_10d_path = "./results/exp_10d_f2_0409_2030/ga/f2/opt_history.csv"
ga_f4_10d_path = "./results/exp_10d_f4_0509_1928/ga/f4/opt_history.csv"
ga_f6_10d_path = "./results/exp_10d_f6_7_9_0509_2219/ga/f6/opt_history.csv"
ga_f7_10d_path = "./results/exp_10d_f6_7_9_0509_2219/ga/f7/opt_history.csv"
ga_f9_10d_path = "./results/exp_10d_f6_7_9_0509_2219/ga/f9/opt_history.csv"
ga_f14_10d_path = "./results/exp_10d_f14_0609_0747/ga/f14/opt_history.csv"

### DE ###
de_f1_10d_path = "./results/exp_10d_f1_1009_1800/de/f1/opt_history.csv"
de_f2_10d_path = "./results/exp_10d_f2_0409_2030/de/f2/opt_history.csv"
de_f4_10d_path = "./results/exp_10d_f4_0509_1928/de/f4/opt_history.csv"
de_f6_10d_path = "./results/exp_10d_f6_7_9_0509_2219/de/f6/opt_history.csv"
de_f7_10d_path = "./results/exp_10d_f6_7_9_0509_2219/de/f7/opt_history.csv"
de_f9_10d_path = "./results/exp_10d_f6_7_9_0509_2219/de/f9/opt_history.csv"
de_f14_10d_path = "./results/exp_10d_f14_0609_0747/de/f14/opt_history.csv"

**30 Dimens천es**

In [3]:
### PSOR ###
psor_f1_30d_path = "./results/exp_psor_30d_2sp_0909_1331/psor/f1/opt_history.csv"
psor_f2_30d_path = "./results/exp_psor_30d_2sp_0909_1331/psor/f2/opt_history.csv"
psor_f4_30d_path = "./results/exp_psor_30d_2sp_0909_1331/psor/f4/opt_history.csv"
psor_f6_30d_path = "./results/exp_psor_30d_2sp_0909_1331/psor/f6/opt_history.csv"
psor_f7_30d_path = "./results/exp_psor_30d_2sp_0909_1605/psor/f7/opt_history.csv"
psor_f9_30d_path = "./results/exp_psor_30d_2sp_0909_1605/psor/f9/opt_history.csv"
psor_f14_30d_path = "./results/exp_psor_30d_2sp_0909_1605/psor/f14/opt_history.csv"

### PSO ###
ps_f1_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f1/opt_history.csv"
ps_f2_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f2/opt_history.csv"
ps_f4_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f4/opt_history.csv"
ps_f6_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f6/opt_history.csv"
ps_f7_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f7/opt_history.csv"
ps_f9_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f9/opt_history.csv"
ps_f14_30d_path = "./results/exp_30d_pso_normal_1009_0003/pso/f14/opt_history.csv"

### GA ###
ga_f1_30d_path = "./results/exp_30d_0609_1741/ga/f1/opt_history.csv"
ga_f2_30d_path = "./results/exp_30d_0609_1741/ga/f2/opt_history.csv"
ga_f4_30d_path = "./results/exp_30d_0609_1741/ga/f4/opt_history.csv"
ga_f6_30d_path = "./results/exp_30d_0609_1741/ga/f6/opt_history.csv"
ga_f7_30d_path = "./results/exp_30d_0609_1741/ga/f7/opt_history.csv"
ga_f9_30d_path = "./results/exp_30d_0609_1741/ga/f9/opt_history.csv"
ga_f14_30d_path = "./results/exp_30d_0609_1741/ga/f14/opt_history.csv"

### DE ###
de_f1_30d_path = "./results/exp_30d_0609_1741/de/f1/opt_history.csv"
de_f2_30d_path = "./results/exp_30d_0609_1741/de/f2/opt_history.csv"
de_f4_30d_path = "./results/exp_30d_0609_1741/de/f4/opt_history.csv"
de_f6_30d_path = "./results/exp_30d_0609_1741/de/f6/opt_history.csv"
de_f7_30d_path = "./results/exp_30d_0609_1741/de/f7/opt_history.csv"
de_f9_30d_path = "./results/exp_30d_0609_1741/de/f9/opt_history.csv"
de_f14_30d_path = "./results/exp_30d_0609_1741/de/f14/opt_history.csv"

In [4]:
### PSOR ###
path_psor_10d = [
    psor_f1_10d_path,
    psor_f2_10d_path,
    psor_f4_10d_path,
    psor_f6_10d_path,
    psor_f7_10d_path,
    psor_f9_10d_path,
    psor_f14_10d_path
]

path_psor_30d = [
    psor_f1_30d_path,
    psor_f2_30d_path,
    psor_f4_30d_path,
    psor_f6_30d_path,
    psor_f7_30d_path,
    psor_f9_30d_path,
    psor_f14_30d_path
]
### PSO ###
path_pso_10d = [
    ps_f1_10d_path,
    ps_f2_10d_path,
    ps_f4_10d_path,
    ps_f6_10d_path,
    ps_f7_10d_path,
    ps_f9_10d_path,
    ps_f14_10d_path
]

path_pso_30d = [
    ps_f1_30d_path,
    ps_f2_30d_path,
    ps_f4_30d_path,
    ps_f6_30d_path,
    ps_f7_30d_path,
    ps_f9_30d_path,
    ps_f14_30d_path
]
### GA ###
path_ga_10d = [
    ga_f1_10d_path,
    ga_f2_10d_path,
    ga_f4_10d_path,
    ga_f6_10d_path,
    ga_f7_10d_path,
    ga_f9_10d_path,
    ga_f14_10d_path
]

path_ga_30d = [
    ga_f1_30d_path,
    ga_f2_30d_path,
    ga_f4_30d_path,
    ga_f6_30d_path,
    ga_f7_30d_path,
    ga_f9_30d_path,
    ga_f14_30d_path
]
### DE ###
path_de_10d = [
    de_f1_10d_path,
    de_f2_10d_path,
    de_f4_10d_path,
    de_f6_10d_path,
    de_f7_10d_path,
    de_f9_10d_path,
    de_f14_10d_path
]

path_de_30d = [
    de_f1_30d_path,
    de_f2_30d_path,
    de_f4_30d_path,
    de_f6_30d_path,
    de_f7_30d_path,
    de_f9_30d_path,
    de_f14_30d_path
]

**Novas vers천es psor**

**v6** - topologia conex찾o local parcial

In [5]:
### PSOR ###
psorv6_f1_10d_path = "./results/expv6_10d_f1_speed_1109_1833/psor/f1/opt_history.csv"
psorv6_f2_10d_path = "./results/expv6_10d_fs_speed_1109_1840/psor/f2/opt_history.csv"
psorv6_f4_10d_path = "./results/expv6_10d_fs_speed_1109_1840/psor/f4/opt_history.csv"
psorv6_f6_10d_path = "./results/expv6_10d_fs_speed_1109_1840/psor/f6/opt_history.csv"
psorv6_f7_10d_path = "./results/expv6_10d_fs_speed_1109_1840/psor/f7/opt_history.csv"
psorv6_f9_10d_path = "./results/expv6_10d_fs_speed_1109_1944/psor/f9/opt_history.csv"
psorv6_f14_10d_path = "./results/expv6_10d_fs_speed_1109_1944/psor/f14/opt_history.csv"

path_psorv6_10d = [
    psorv6_f1_10d_path,
    psorv6_f2_10d_path,
    psorv6_f4_10d_path,
    psorv6_f6_10d_path,
    psorv6_f7_10d_path,
    psorv6_f9_10d_path,
    psorv6_f14_10d_path
]

psorv6_f1_30d_path = "./results/exp_30d_speed_1109_2239/psor/f1/opt_history.csv"
psorv6_f2_30d_path = "./results/exp_30d_speed_1109_2239/psor/f2/opt_history.csv"
psorv6_f4_30d_path = "./results/exp_30d_speed_1109_2239/psor/f4/opt_history.csv"
psorv6_f6_30d_path = "./results/exp_30d_speed_1209_0711/psor/f6/opt_history.csv"
psorv6_f7_30d_path = "./results/exp_30d_speed_1209_0711/psor/f7/opt_history.csv"
psorv6_f9_30d_path = "./results/exp_30d_speed_1209_0711/psor/f9/opt_history.csv"
psorv6_f14_30d_path = "./results/exp_30d_speed_1209_0711/psor/f14/opt_history.csv"

path_psorv6_30d = [
    psorv6_f1_30d_path,
    psorv6_f2_30d_path,
    psorv6_f4_30d_path,
    psorv6_f6_30d_path,
    psorv6_f7_30d_path,
    psorv6_f9_30d_path,
    psorv6_f14_30d_path
]

**v7** - topologia totalmente conectada localmente

In [6]:
### PSOR ###
psor_sb_f1_10d_path = "./results/exp_10d_bsubspace_1109_2026/psor/f1/opt_history.csv"
psor_sb_f2_10d_path = "./results/exp_10d_bsubspace_1109_2026/psor/f2/opt_history.csv"
psor_sb_f4_10d_path = "./results/exp_10d_bsubspace_1109_2026/psor/f4/opt_history.csv"
psor_sb_f6_10d_path = "./results/exp_10d_bsubspace_1109_2026/psor/f6/opt_history.csv"
psor_sb_f7_10d_path = "./results/exp_10d_bsubspace_1109_2113/psor/f7/opt_history.csv"
psor_sb_f9_10d_path = "./results/exp_10d_bsubspace_1109_2113/psor/f9/opt_history.csv"
psor_sb_f14_10d_path = "./results/exp_10d_bsubspace_1109_2113/psor/f14/opt_history.csv"

path_psor_sb_10d = [
    psor_sb_f1_10d_path,
    psor_sb_f2_10d_path,
    psor_sb_f4_10d_path,
    psor_sb_f6_10d_path,
    psor_sb_f7_10d_path,
    psor_sb_f9_10d_path,
    psor_sb_f14_10d_path
]

**V8**

In [7]:
### PSO ###
pso_v8_f1_10d_path = "./results/f_pso_10d_1309_1956/pso/f1/opt_history.csv"
pso_v8_f2_10d_path = "./results/f_pso_10d_1309_1956/pso/f2/opt_history.csv"
pso_v8_f4_10d_path = "./results/f_pso_10d_1309_1956/pso/f4/opt_history.csv"
pso_v8_f6_10d_path = "./results/f_pso_10d_1309_1956/pso/f6/opt_history.csv"
pso_v8_f7_10d_path = "./results/f_pso_10d_1309_2027/pso/f7/opt_history.csv"
pso_v8_f9_10d_path = "./results/f_pso_10d_1309_2027/pso/f9/opt_history.csv"
pso_v8_f14_10d_path = "./results/f_pso_10d_1309_2027/pso/f14/opt_history.csv"

path_pso_v8_10d = [
    pso_v8_f1_10d_path,
    pso_v8_f2_10d_path,
    pso_v8_f4_10d_path,
    pso_v8_f6_10d_path,
    pso_v8_f7_10d_path,
    pso_v8_f9_10d_path,
    pso_v8_f14_10d_path
]

### PSOR ###
psor_v8_f1_10d_path = "./results/f_psor_10d_1309_2317/psor/f1/opt_history.csv"
psor_v8_f2_10d_path = "./results/f_psor_10d_1309_2317/psor/f2/opt_history.csv"
psor_v8_f4_10d_path = "./results/f_psor_10d_1309_2317/psor/f4/opt_history.csv"
psor_v8_f6_10d_path = "./results/f_psor_10d_1309_2317/psor/f6/opt_history.csv"
psor_v8_f7_10d_path = "./results/f_psor_10d_1309_2359/psor/f7/opt_history.csv"
psor_v8_f9_10d_path = "./results/f_psor_10d_1309_2359/psor/f9/opt_history.csv"
psor_v8_f14_10d_path = "./results/f_psor_10d_1309_2359/psor/f14/opt_history.csv"

path_psor_v8_10d = [
    psor_v8_f1_10d_path,
    psor_v8_f2_10d_path,
    psor_v8_f4_10d_path,
    psor_v8_f6_10d_path,
    psor_v8_f7_10d_path,
    psor_v8_f9_10d_path,
    psor_v8_f14_10d_path
]

#### Cria챌찾o dos dataframes de m챕tricas

**M챕todos auxiliares**

In [8]:
def criar_df_metricas(list_path_experimentos: list, type: str):
    f_opt = [100, 200, 400, 600, 700, 900, 1400]
    list_ = []

    for path, fopt in zip(list_path_experimentos, f_opt):
        dict_ = {}
        df = pd.read_csv(path)

        dict_['type'] = type
        dict_['f*'] = fopt
        dict_['function'] = df['funcao_objetivo'].unique()[0]
        dict_['dimension'] = df['dimensoes'].unique()[0]
        dict_['best'] = f"{np.min(df['best_fitness']):.4E}"
        dict_['mean'] = f"{np.mean(df['best_fitness']):.4E}"
        dict_['worst'] = f"{np.max(df['best_fitness']):.4E}"
        dict_['std'] = f"{np.std(df['best_fitness']):.4E}"
        dict_['nout_bounds'] = df[df['best_fitness'] == np.min(df['best_fitness'])]['out_bounds'].values[0]
        if type != 'ga':
            dict_['error'] = f"{(1. / abs(np.min(df['best_fitness']) - fopt)):.4E}"
        dict_['best_exec'] = df[df['best_fitness'] == np.min(df['best_fitness'])].index.values
        list_.append(dict_)

    df_ = pd.DataFrame.from_dict(list_)

    return df_

**M챕tricas**

**PSOR**

In [9]:
criar_df_metricas(path_psor_10d, 'psor')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,psor,100,f1,10,4.3144E+02,9.3561E+04,8.4822E+05,1.6074E+05,40113,3.0172E-03,[4]
1,psor,200,f2,10,2.0091E+02,2.6783E+03,1.7416E+04,3.4769E+03,27425,1.1027E+00,[3]
2,psor,400,f4,10,4.0010E+02,4.0321E+02,4.0440E+02,9.5534E-01,26666,1.0247E+01,[2]
3,psor,600,f6,10,6.0000E+02,6.0010E+02,6.0051E+02,1.1724E-01,17998,2.8208E+03,[28]
4,psor,700,f7,10,7.0004E+02,7.0010E+02,7.0018E+02,3.6636E-02,13866,2.5397E+01,[21]
5,psor,900,f9,10,9.0199E+02,9.0807E+02,9.1691E+02,3.6046E+00,38456,5.0253E-01,[23]
6,psor,1400,f14,10,1.4000E+03,1.4001E+03,1.4002E+03,3.6634E-02,24631,2.3311E+01,[11]

In [10]:
criar_df_metricas(path_psor_30d, 'psor')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,psor,100,f1,30,4.6091E+05,1.8558E+06,3.9536E+06,9.4178E+05,158314,2.1701E-06,[17]
1,psor,200,f2,30,2.0024E+02,8.1208E+02,5.3311E+03,1.2239E+03,87408,4.1655E+00,[13]
2,psor,400,f4,30,4.1918E+02,4.2809E+02,5.1387E+02,1.6028E+01,143567,5.2141E-02,[3]
3,psor,600,f6,30,6.0328E+02,6.0836E+02,6.1282E+02,2.5552E+00,106345,3.0500E-01,[27]
4,psor,700,f7,30,0.0000E+00,3.7334E+02,7.0004E+02,3.4923E+02,85477,1.4286E-03,"[0, 2, 3, 6, 8, 10, 12, 19, 20, 21, 26, 27, 28..."
5,psor,900,f9,30,9.2985E+02,9.6114E+02,9.9957E+02,1.6212E+01,155438,3.3502E-02,[24]
6,psor,1400,f14,30,1.4002E+03,1.4003E+03,1.4009E+03,1.3335E-01,131279,5.4609E+00,[0]

**PSO**

In [11]:
criar_df_metricas(path_pso_10d, 'pso')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,pso,100,f1,10,2.8122E+03,9.3774E+04,4.7760E+05,1.0188E+05,27804,3.6870E-04,[24]
1,pso,200,f2,10,2.0251E+02,3.8776E+03,1.8516E+04,4.6245E+03,13836,3.9915E-01,[3]
2,pso,400,f4,10,4.0190E+02,4.0352E+02,4.0740E+02,1.3744E+00,20635,5.2741E-01,[5]
3,pso,600,f6,10,6.0001E+02,6.0027E+02,6.0210E+02,4.3712E-01,13797,1.6683E+02,[25]
4,pso,700,f7,10,7.0004E+02,7.0015E+02,7.0039E+02,8.2267E-02,12509,2.5411E+01,[14]
5,pso,900,f9,10,9.0398E+02,9.0923E+02,9.2089E+02,3.7544E+00,32390,2.5127E-01,"[12, 17, 27]"
6,pso,1400,f14,10,1.4000E+03,1.4001E+03,1.4002E+03,5.0655E-02,26093,4.0672E+01,[3]

In [12]:
criar_df_metricas(path_pso_30d, 'pso')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,pso,100,f1,30,6.6588E+05,1.8677E+06,3.8726E+06,8.9871E+05,145867,1.5020E-06,[1]
1,pso,200,f2,30,2.0002E+02,3.4055E+02,1.8680E+03,3.2621E+02,83733,5.6358E+01,[29]
2,pso,400,f4,30,4.2444E+02,4.3501E+02,5.0069E+02,2.2417E+01,102711,4.0917E-02,[13]
3,pso,600,f6,30,6.0469E+02,6.0871E+02,6.1267E+02,1.7595E+00,87079,2.1323E-01,[16]
4,pso,700,f7,30,0.0000E+00,5.6002E+02,7.0006E+02,2.8001E+02,80505,1.4286E-03,"[0, 12, 19, 21, 22, 24]"
5,pso,900,f9,30,9.3283E+02,9.6985E+02,1.0036E+03,1.7322E+01,165791,3.0457E-02,[23]
6,pso,1400,f14,30,1.4002E+03,1.4005E+03,1.4010E+03,2.5094E-01,130883,6.0216E+00,[9]

**GA**

In [13]:
criar_df_metricas(path_ga_10d, 'ga')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,best_exec
0,ga,100,f1,10,2.1529E-09,1.3439E-08,7.6044E-08,1.4231E-08,0,[15]
1,ga,200,f2,10,6.7124E-11,1.2552E-10,2.5086E-10,5.2547E-11,0,[10]
2,ga,400,f4,10,2.8860E-04,1.1124E-03,2.6858E-03,6.0426E-04,0,[9]
3,ga,600,f6,10,6.8432E-02,8.6375E-02,1.1245E-01,1.0116E-02,0,[1]
4,ga,700,f7,10,4.5945E-03,1.2625E-02,3.6785E-02,7.4765E-03,0,[15]
5,ga,900,f9,10,7.5799E-03,1.0274E-02,1.4789E-02,1.7614E-03,0,[20]
6,ga,1400,f14,10,1.7802E-02,4.4075E-02,1.2333E-01,2.5127E-02,0,[16]

In [14]:
criar_df_metricas(path_ga_30d, 'ga')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,best_exec
0,ga,100,f1,30,4.2215E-10,1.0094E-09,2.5579E-09,5.7326E-10,0,[28]
1,ga,200,f2,30,8.3948E-12,1.3654E-11,1.7350E-11,2.2632E-12,0,[1]
2,ga,400,f4,30,2.6941E-05,7.1435E-05,2.8935E-04,4.6776E-05,0,[22]
3,ga,600,f6,30,2.1510E-02,2.4417E-02,2.8456E-02,2.0401E-03,0,[26]
4,ga,700,f7,30,9.7822E-04,1.4787E-03,2.3519E-03,3.7217E-04,0,[24]
5,ga,900,f9,30,1.7419E-03,2.2618E-03,2.9322E-03,2.6223E-04,0,[27]
6,ga,1400,f14,30,3.3862E-03,5.4158E-03,7.8643E-03,1.2678E-03,0,[14]

**DE**

In [15]:
criar_df_metricas(path_de_10d, 'de')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,de,100,f1,10,1.0015E+02,7.0654E+05,2.1150E+07,3.7963E+06,2352,6.6861E+00,[23]
1,de,200,f2,10,2.0000E+02,9.8893E+02,1.2034E+04,2.9519E+03,424,2.2578E+07,[14]
2,de,400,f4,10,4.0014E+02,4.2793E+02,5.2145E+02,2.2402E+01,842,7.0589E+00,[15]
3,de,600,f6,10,6.0000E+02,6.0116E+02,6.0318E+02,1.1166E+00,2574,1.9379E+07,[24]
4,de,700,f7,10,7.0000E+02,7.0043E+02,7.0432E+02,1.1525E+00,144,2.1088E+03,[24]
5,de,900,f9,10,9.0099E+02,9.0536E+02,9.1103E+02,2.3941E+00,3490,1.0051E+00,[0]
6,de,1400,f14,10,1.4001E+03,1.4002E+03,1.4008E+03,1.3064E-01,2438,1.3030E+01,[9]

In [16]:
criar_df_metricas(path_de_30d, 'de')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,de,100,f1,30,5.5706E+05,4.2107E+06,1.5874E+07,3.2038E+06,55727,1.7955E-06,[24]
1,de,200,f2,30,2.0000E+02,2.8413E+08,2.5187E+09,7.3952E+08,648,1.1785E+07,[11]
2,de,400,f4,30,4.0008E+02,4.9673E+02,1.2191E+03,1.3942E+02,9155,1.2814E+01,[25]
3,de,600,f6,30,6.0201E+02,6.0758E+02,6.1349E+02,2.7821E+00,6976,4.9840E-01,[17]
4,de,700,f7,30,7.0000E+02,7.0447E+02,8.0754E+02,1.9412E+01,526,1.3129E+07,[22]
5,de,900,f9,30,9.3723E+02,1.0304E+03,1.0889E+03,3.1154E+01,20712,2.6861E-02,[0]
6,de,1400,f14,30,1.4002E+03,1.4005E+03,1.4010E+03,2.4879E-01,6854,4.6371E+00,[1]

#### Testes de hip처tese

**Wilcoxon**

In [17]:
def t_wilcoxon(distr1_path_list, 
               distr2_path_list, 
               distr1_name,
               distr2_name,
               column_name):
    list_ = []

    for path1, path2 in zip(distr1_path_list, distr2_path_list):
        dict_ = {}
        tdf1 = pd.read_csv(path1)
        tdf2 = pd.read_csv(path2)

        distr_1 = tdf1[column_name]
        distr_2 = tdf2[column_name]

        # Realiza o Teste de Wilcoxon
        _, p_value = stats.wilcoxon(distr_1, distr_2)

        # Verifica se h찼 uma diferen챌a significativa
        alpha = 0.05
        if p_value < alpha:
            ha_differ = True
            #print("H찼 evid챗ncias de diferen챌a significativa entre as distribui챌천es.")
        else:
            ha_differ = False
            #print("N찾o h찼 evid챗ncias de diferen챌a significativa entre as distribui챌천es.")
        
        dict_['type1'] = distr1_name
        dict_['type2'] = distr2_name
        dict_['function'] = tdf1['funcao_objetivo'].unique()[0]
        dict_['dimension'] = tdf1['dimensoes'].unique()[0]
        dict_['ha_differ'] = ha_differ
        dict_['p_value'] = f"{p_value:.4E}"

        list_.append(dict_)

    df_ = pd.DataFrame.from_dict(list_)

    return df_

**PSOR x PSO - 10D**

In [18]:
t_wilcoxon(distr1_path_list = path_psor_10d,
           distr2_path_list = path_pso_10d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10      False  5.8376E-01
1  psor   pso       f2         10      False  2.1293E-01
2  psor   pso       f4         10      False  7.6107E-01
3  psor   pso       f6         10       True  3.6435E-02
4  psor   pso       f7         10       True  1.3406E-03
5  psor   pso       f9         10      False  1.6131E-01
6  psor   pso      f14         10      False  9.6767E-01

**PSOR x PSO - 30D**

In [19]:
t_wilcoxon(distr1_path_list = path_psor_30d,
           distr2_path_list = path_pso_30d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         30      False  9.3540E-01
1  psor   pso       f2         30       True  1.4538E-02
2  psor   pso       f4         30       True  4.6648E-03
3  psor   pso       f6         30      False  5.6986E-01
4  psor   pso       f7         30       True  1.1501E-02
5  psor   pso       f9         30       True  5.7765E-03
6  psor   pso      f14         30       True  4.4907E-02

**PSOR x DE - 10D**

In [20]:
t_wilcoxon(distr1_path_list = path_psor_10d,
           distr2_path_list = path_de_10d,
           distr1_name = 'psor',
           distr2_name = 'de',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor    de       f1         10       True  2.3667E-05
1  psor    de       f2         10       True  3.7905E-06
2  psor    de       f4         10       True  1.9912E-06
3  psor    de       f6         10       True  3.4496E-04
4  psor    de       f7         10       True  2.9326E-02
5  psor    de       f9         10       True  2.2151E-03
6  psor    de      f14         10       True  3.0495E-05

**PSOR x DE - 30D**

In [21]:
t_wilcoxon(distr1_path_list = path_psor_30d,
           distr2_path_list = path_de_30d,
           distr1_name = 'psor',
           distr2_name = 'de',
           column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor    de       f1         30       True  1.5287E-04
1  psor    de       f2         30       True  1.3663E-02
2  psor    de       f4         30       True  1.3039E-07
3  psor    de       f6         30      False  4.5216E-01
4  psor    de       f7         30       True  1.2184E-05
5  psor    de       f9         30       True  9.3132E-09
6  psor    de      f14         30      False  6.3556E-02

**ttest**

In [22]:
def t_test(distr1_path_list, 
            distr2_path_list, 
            distr1_name,
            distr2_name,
            column_name):
    list_ = []

    for path1, path2 in zip(distr1_path_list, distr2_path_list):
        dict_ = {}
        tdf1 = pd.read_csv(path1)
        tdf2 = pd.read_csv(path2)

        distr_1 = tdf1[column_name]
        distr_2 = tdf2[column_name]

        # Realiza o Teste t para amostras independentes
        _, p_value = stats.ttest_ind(distr_1, distr_2)

        # Verifica se h찼 uma diferen챌a significativa
        alpha = 0.05
        if p_value < alpha:
            ha_differ = True
            #print("H찼 evid챗ncias de diferen챌a significativa entre as distribui챌천es.")
        else:
            ha_differ = False
            #print("N찾o h찼 evid챗ncias de diferen챌a significativa entre as distribui챌천es.")
        
        dict_['type1'] = distr1_name
        dict_['type2'] = distr2_name
        dict_['function'] = tdf1['funcao_objetivo'].unique()[0]
        dict_['dimension'] = tdf1['dimensoes'].unique()[0]
        dict_['ha_differ'] = ha_differ
        dict_['p_value'] = f"{p_value:.4E}"

        list_.append(dict_)

    df_ = pd.DataFrame.from_dict(list_)

    return df_

**PSOR x PSO - 10D**

In [23]:
t_test(distr1_path_list = path_psor_10d,
       distr2_path_list = path_pso_10d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10      False  9.9522E-01
1  psor   pso       f2         10      False  2.6892E-01
2  psor   pso       f4         10      False  3.2785E-01
3  psor   pso       f6         10      False  5.1020E-02
4  psor   pso       f7         10       True  3.3753E-03
5  psor   pso       f9         10      False  2.3527E-01
6  psor   pso      f14         10      False  7.4320E-01

**PSOR x PSO - 30D**

In [24]:
t_test(distr1_path_list = path_psor_30d,
       distr2_path_list = path_pso_30d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         30      False  9.6103E-01
1  psor   pso       f2         30       True  4.9665E-02
2  psor   pso       f4         30      False  1.8128E-01
3  psor   pso       f6         30      False  5.5557E-01
4  psor   pso       f7         30       True  2.8540E-02
5  psor   pso       f9         30      False  5.2759E-02
6  psor   pso      f14         30       True  1.5302E-02

**PSOR x DE - 10D**

In [25]:
t_test(distr1_path_list = path_psor_10d,
       distr2_path_list = path_de_10d,
       distr1_name = 'psor',
       distr2_name = 'de',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor    de       f1         10      False  3.8857E-01
1  psor    de       f2         10      False  5.0792E-02
2  psor    de       f4         10       True  1.7337E-07
3  psor    de       f6         10       True  4.4268E-06
4  psor    de       f7         10      False  1.2536E-01
5  psor    de       f9         10       True  1.3227E-03
6  psor    de      f14         10       True  1.8909E-03

**PSOR x PSO - 30D**

In [26]:
t_test(distr1_path_list = path_psor_30d,
       distr2_path_list = path_de_30d,
       distr1_name = 'psor',
       distr2_name = 'de',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor    de       f1         30       True  3.5195E-04
1  psor    de       f2         30       True  4.3010E-02
2  psor    de       f4         30       True  1.0794E-02
3  psor    de       f6         30      False  2.7067E-01
4  psor    de       f7         30       True  3.9333E-06
5  psor    de       f9         30       True  3.2634E-15
6  psor    de      f14         30       True  8.2867E-03

#### Demais experimentos

**PSORV6**

In [27]:
criar_df_metricas(path_psorv6_10d, 'psor')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,psor,100,f1,10,2.3130E+02,4.6378E+04,2.0833E+05,5.8522E+04,32358,7.6159E-03,[8]
1,psor,200,f2,10,2.0018E+02,2.1043E+03,9.5301E+03,2.4808E+03,27929,5.5997E+00,[12]
2,psor,400,f4,10,4.0198E+02,4.0351E+02,4.0450E+02,6.4615E-01,25326,5.0419E-01,[8]
3,psor,600,f6,10,6.0000E+02,6.0012E+02,6.0049E+02,1.2198E-01,14408,5.0560E+02,[28]
4,psor,700,f7,10,7.0003E+02,7.0010E+02,7.0023E+02,4.9430E-02,11688,3.6909E+01,[29]
5,psor,900,f9,10,9.0298E+02,9.0728E+02,9.1592E+02,3.0506E+00,43663,3.3502E-01,"[11, 15, 21]"
6,psor,1400,f14,10,1.4000E+03,1.4001E+03,1.4002E+03,4.2855E-02,33757,2.2296E+01,[17]

In [28]:
criar_df_metricas(path_psorv6_30d, 'psor')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,psor,100,f1,30,2.9409E+05,1.5830E+06,4.6962E+06,1.0404E+06,175689,3.4015E-06,[10]
1,psor,200,f2,30,2.0002E+02,4.3879E+02,1.2164E+03,2.7856E+02,101076,6.4103E+01,[17]
2,psor,400,f4,30,4.2143E+02,4.2580E+02,4.2935E+02,1.3910E+00,164710,4.6654E-02,[17]
3,psor,600,f6,30,6.0354E+02,6.0732E+02,6.1057E+02,1.7731E+00,115249,2.8245E-01,[26]
4,psor,700,f7,30,0.0000E+00,3.5001E+02,7.0004E+02,3.5001E+02,95238,1.4286E-03,"[0, 1, 2, 6, 8, 9, 11, 17, 19, 20, 22, 23, 25,..."
5,psor,900,f9,30,9.3482E+02,9.6375E+02,9.9054E+02,1.5082E+01,211304,2.8716E-02,[21]
6,psor,1400,f14,30,1.4002E+03,1.4004E+03,1.4010E+03,2.6050E-01,144973,5.2499E+00,[3]

**PSORV6 x PSO - 10D**

In [29]:
t_wilcoxon(distr1_path_list = path_psorv6_10d,
           distr2_path_list = path_pso_10d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10       True  4.9710E-02
1  psor   pso       f2         10      False  7.6721E-02
2  psor   pso       f4         10      False  3.3874E-01
3  psor   pso       f6         10      False  3.9305E-01
4  psor   pso       f7         10       True  2.2099E-02
5  psor   pso       f9         10       True  4.5478E-02
6  psor   pso      f14         10      False  5.2263E-02

In [30]:
t_test(distr1_path_list = path_psorv6_10d,
       distr2_path_list = path_pso_10d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10       True  3.3924E-02
1  psor   pso       f2         10      False  7.3980E-02
2  psor   pso       f4         10      False  9.9082E-01
3  psor   pso       f6         10      False  7.7059E-02
4  psor   pso       f7         10       True  6.9812E-03
5  psor   pso       f9         10       True  3.4035E-02
6  psor   pso      f14         10      False  1.9060E-01

**PSORV6 x PSO - 30D**

In [31]:
t_wilcoxon(distr1_path_list = path_psorv6_30d,
           distr2_path_list = path_pso_30d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         30      False  1.7719E-01
1  psor   pso       f2         30      False  1.1908E-01
2  psor   pso       f4         30      False  6.3556E-02
3  psor   pso       f6         30       True  5.7765E-03
4  psor   pso       f7         30       True  3.1863E-02
5  psor   pso       f9         30      False  1.9093E-01
6  psor   pso      f14         30      False  5.6986E-01

In [32]:
t_test(distr1_path_list = path_psorv6_30d,
       distr2_path_list = path_pso_30d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         30      False  2.6938E-01
1  psor   pso       f2         30      False  2.2244E-01
2  psor   pso       f4         30       True  3.1183E-02
3  psor   pso       f6         30       True  4.0935E-03
4  psor   pso       f7         30       True  1.4396E-02
5  psor   pso       f9         30      False  1.5739E-01
6  psor   pso      f14         30      False  5.7433E-01

****PSORSB x PSO - 10D****

In [33]:
t_wilcoxon(distr1_path_list = path_psor_sb_10d,
           distr2_path_list = path_pso_10d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10      False  8.0783E-01
1  psor   pso       f2         10      False  4.3997E-01
2  psor   pso       f4         10      False  4.2795E-01
3  psor   pso       f6         10      False  9.1950E-02
4  psor   pso       f7         10       True  1.6431E-02
5  psor   pso       f9         10       True  3.7444E-03
6  psor   pso      f14         10      False  8.7121E-01

In [34]:
t_test(distr1_path_list = path_psor_sb_10d,
       distr2_path_list = path_pso_10d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10      False  7.0571E-01
1  psor   pso       f2         10      False  2.9829E-01
2  psor   pso       f4         10      False  1.6224E-01
3  psor   pso       f6         10      False  5.7957E-02
4  psor   pso       f7         10       True  9.4436E-03
5  psor   pso       f9         10       True  7.5011E-04
6  psor   pso      f14         10      False  4.8186E-01

____________________

**V8**

In [35]:
criar_df_metricas(path_psor_v8_10d, 'psor')

,type,f*,function,dimension,best,mean,worst,std,nout_bounds,error,best_exec
0,psor,100,f1,10,2.2685E+03,3.5550E+04,8.5293E+04,2.6439E+04,31882,4.6115E-04,[13]
1,psor,200,f2,10,2.5456E+02,3.1680E+03,8.3178E+03,2.5803E+03,23810,1.8329E-02,[26]
2,psor,400,f4,10,4.0001E+02,4.1329E+02,4.8706E+02,2.0825E+01,23475,1.5034E+02,[2]
3,psor,600,f6,10,6.0001E+02,6.0070E+02,6.0251E+02,7.2675E-01,16845,1.3121E+02,[8]
4,psor,700,f7,10,7.0000E+02,7.0010E+02,7.0021E+02,5.4185E-02,11460,1.0659E+07,[25]
5,psor,900,f9,10,9.0398E+02,9.0859E+02,9.1791E+02,3.0672E+00,42429,2.5127E-01,"[2, 24]"
6,psor,1400,f14,10,1.4000E+03,1.4001E+03,1.4002E+03,4.1717E-02,24504,5.1686E+01,[0]

In [36]:
t_wilcoxon(distr1_path_list = path_psor_v8_10d,
           distr2_path_list = path_pso_v8_10d,
           distr1_name = 'psor',
           distr2_name = 'pso',
           column_name = 'best_fitness')

C:\Users\Matheus\AppData\Roaming\Python\Python39\site-packages\scipy\stats\_morestats.py:3414: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10       True  6.0841E-04
1  psor   pso       f2         10      False  8.4065E-02
2  psor   pso       f4         10      False  6.4083E-01
3  psor   pso       f6         10       True  6.6395E-03
4  psor   pso       f7         10       True  1.4538E-02
5  psor   pso       f9         10      False  3.4138E-01
6  psor   pso      f14         10      False  6.2635E-01

In [38]:
t_test(distr1_path_list = path_psor_v8_10d,
       distr2_path_list = path_pso_v8_10d,
       distr1_name = 'psor',
       distr2_name = 'pso',
       column_name = 'best_fitness')

  type1 type2 function  dimension  ha_differ     p_value
0  psor   pso       f1         10       True  1.5739E-03
1  psor   pso       f2         10       True  1.3961E-02
2  psor   pso       f4         10       True  1.1473E-02
3  psor   pso       f6         10       True  1.4310E-03
4  psor   pso       f7         10       True  6.3223E-03
5  psor   pso       f9         10      False  5.3267E-01
6  psor   pso      f14         10      False  7.2967E-01